@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Arsenal Results</h1>
    <p class="lead">A WIP database that serves as a source for results for Arsenal FC in their varius competitions.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Teams</h2>
        <p>
            A list of every team that Arsenal has played during their league campaigns. 
        </p>
        <p><a class="btn btn-default" href="localhost:44336/Team">Click here for a list of Teams &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Stadiums</h2>
        <p>A list of stadiums that Arsenal has played in throughout their history. Includes the stadiums Name, Location as well as capacity.</p>
        <p><a class="btn btn-default" href="localhost:44336/Stadium">Click here for a list of Stadiums &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Results</h2>
        <p>Here is where you can find information on the League results for Arsenal. Information included is Home Team, Away Team, Scoreline as well as Fan Attendance.</p>
        <p><a class="btn btn-default" href="localhost:44336/Results">Click here for a list of Results &raquo;</a></p>
    </div>
</div>